#collection {
  background-color: #b3e8ef;
  padding: 5%;
}

.collectionList {
  padding: 5%;
}

@media only screen and (min-width: 900px) {
  #slideshow {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: 90vh;
  }

  #slideshow img {
    width: 50%;
    object-fit: cover;
  }
}
