#collection {
  background-color: #b3e8ef;
  padding: 5%;
}

#mostWanted {
  background-color: #b3e8efa9;
  padding: 5%;
}
.collectionList {
  padding: 5%;
}

.newCollection {
  display: flex;
  align-items: baseline;
}

.starNew {
  width: 8vw;
  height: 8vw;
  background-image: url(/links/star-new.svg);
  background-size: 100%;
}
.rotation {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 900px) {
  #slideshow {
    display: flex;
  }

  .slide {
    height: 45vw;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
}
