.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.detailItem {
  background-color: chocolate;
}
.addToBag {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid black;
  background-color: blueviolet;
}

img {
  max-width: 100%;
}

.card {
  background-color: cornsilk;
}
