@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "DM Sans", sans-serif;
  display: flex;
}

/* HEADER STARTS*/

#bannerTop {
  margin: 0;
  padding: 0;
  background-color: #b3e8ef;
  overflow: hidden;
  z-index: -1;
}

.scrolling {
  animation: scrollText;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes scrollText {
  0% {
    transform: translateX(-30vw);
  }
  50% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(-30vw);
  }
}

nav {
  padding: 0;
  display: grid;
  /* grid-template-columns: 40% 20% 40%; */
  align-items: center;
  background-color: white;
}

.menu {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#logo {
  justify-self: center;
  width: 10em;
}

/* Dropdown*/

.dropdown1 {
  display: none;
  position: absolute;
  left: 70px;
  margin-top: 1px;
  padding: 5%;
  width: 80%;
  background-color: #ffffff;
  /* min-width: 100px; */
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
  z-index: 1;
}

.dropdown1 a {
  font-size: 3em;
  font-weight: 700;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*.dropdown-content a:hover {
  background-color: #e3ff36;
}
*/
.dropdown:hover .dropdown1 {
  display: block;
}

.flex {
  display: inline;
  justify-content: space-between;
}

.dropdown2,
.dropdown3 {
  display: none;
  position: absolute;
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
  z-index: 99;
  left: 400px;
  top: 100px;
}
.dropdown2 a,
.dropdown3 a {
  font-size: 1em;
  font-weight: 700;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 99;
}
.category:hover > .dropdown2 {
  display: block;
}
.collections:hover > .dropdown3 {
  display: block;
}

/* HEADER ENDS*/

img {
  max-width: 100%;
}

a:hover img {
  cursor: url("/links/symbol.svg"), auto;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

h1 a:hover {
  background-color: #e3ff36;
}

h2 {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

h4 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  padding: 0.5em;
  font-size: 0.9rem;
  text-transform: uppercase;
}

h5 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  padding: 0.5em;
  font-size: 0.7rem;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

li a:hover,
.dropdown2 a:hover,
.dropdown3 a:hover {
  text-decoration-line: underline;
  text-decoration-color: #e3ff36;
  text-decoration-thickness: 5px;
}

strong {
  color: #e3ff36;
}

/*side navigation*/

#navside {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#nav1 {
  height: 50%;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

#nav2 {
  height: 50%;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

#nav2 h2,
#nav1 h2 {
  text-align: center;
  padding: 3%;
  letter-spacing: 1px;
  font-weight: 500;
}

.bgNav1 {
  background-color: #7bafd4;
  color: black;
}

.bgNav2 {
  background-color: #e3ff36;
  color: black;
}

.bgNavShadow {
  color: rgb(196, 196, 196);
}

/*CART*/
.cart {
  position: absolute;
  top: 0;
  right: 0;
  background-color: crimson;
}
